:root {
    --play-bar-h: 100px;
    --logo-h: 70px;
    --side-w: 180px;
    --w-50: 50%;
    --w-20: 20%;
    --w-25: 25%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden;
    color: white;
    font-family: Montserrat, sans-serif;
}

.side-bar li{
    padding: 5px;
}

/* GENERICS */

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

h2{
    font-size: 2.5rem;
}

h4{
    padding-top: 10px;
}

span{
    color: grey;
}

/* UTILS */

.flex-dir-clmn{
    flex-direction: column;
}

.pad-small {
    padding: 0px 10px;
}

.pad-all {
    padding: 10px;
}

.d-flex {
    display: flex;
}
.w100{
    width: 100%;
}

.txt-center {
    text-align: center;
}

.b-radius50 {
    border-radius: 50%;
}

/* ICONS */

.fa-plus {
    color: black;
    background-color: grey;
}

.upgrade-button{
    position: absolute;
    top: 20px;
    right: 25px;
}

/* MAIN CONTAINER */

.main-container {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

/* SIDEBAR CONTAINER */

.side-bar {
    width: var(--side-w);
    height: calc(100% - var(--play-bar-h));
    display: flex;
    flex-direction: column;
    background-color: black;
}

/* SIDEBAR LOGO */

.logo {
    flex: 0 0 var(--logo-h);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 120px;
}

/* SIDEBAR LIBRARY */

.library {
    flex: 1 1 15%;
}

.library a {
    color: grey;
}

/* SIDEBAR PLAYLIST */

.playlist {
    flex: 1 1 80%;
    padding-left: 10px;
}

.playlist ul li {
    font-size: 1rem;
    padding: 10px 5px;
    color: grey;
}

/* SIDEBAR ACCOUNT */

.account {
    flex: 1 1 5%;
}

/* CONTENUTO PRINCIPALE */

.main-content {
    padding-top: var(--logo-h);
    flex: 1 0 calc(100% - var(--side-w));
    height: calc(100% - var(--play-bar-h));
    background-color: #141922;
    position: relative;
}

/* TOP BAR */

.top-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.top-bar-col {
    width: calc(100% / 3);
    padding: 10px;
}

.top-bar-col a {
    color: grey;
    font-weight: bold;
}

/* RECENTLY PLAYED MUSIC */

.recent-play {
    display: flex;
    flex-wrap: wrap;
}

.recent-col {
    width: var(--w-50);
}


/* CREATED FOR */

.created-for {
    display: flex;
}

.created-for-col {
    width: var(--w-50)
}

/* POPULAR SONGS */

.popular-artists {
    display: flex;
}

.popular-col {
    width: var(--w-50);
}

/* PLAY-BAR CONTAINER */

.play-bar {
    height: var(--play-bar-h);
    min-width: 100%;
    display: flex;
    align-items: center;
    background-color: #282828;
    z-index: 1;
}

/* PLAY-BAR LEFT */

.song-name {
    width: var(--w-20);
    display: flex;
}

.play-bar img {
    width: 60px;
    height: 60px;
}

.icons-left-play-bar{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* PLAY-BAR CENTER */

.reproduction-bar {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.reproduction-bar i{
    padding: 15px;
    font-size: 2rem;
}
.reproduction-bar span{
    padding: 0 10px;
    color: white;
}

.reproduction-time{
    display: flex;
}

.time{
    height: 8px;
    width: 300px;
    background-color: grey;
    align-self: center;
}

/* PLAY-BAR RIGHT */

.volume {
    width: var(--w-20);
    display: flex;
}

.volume i{
    padding-right: 10px;
}

.volume-bar{
    height: 8px;
    width: 150px;
    background-color: grey;
    align-self: center;
}






/* MEDIA QUERY TABLET 576 px */


@media screen and (min-width: 576px) {

    .recent-col {
        width: var(--w-25);
    }

    .top-bar-col {
        width: calc(100% / 5);
    }

    .created-for-col {
        width: var(--w-25);
    }

    .popular-col {
        width: var(--w-25);
    }
}

/* MEDIA QUERY DESKTOP 992 px */

@media screen and (min-width: 992px) {
    .top-bar-col {
        width: calc(100%/ 6);
    }

    .recent-col {
        width: calc(100% / 6);
    }

    .created-for-col {
        width: var(--w-25);
    }
}

/* MEDIA QUERY XS 360px */

@media screen and (max-width: 360px) {
    .side-bar{
        display: none;
    }

    .top-bar-col {
        width: calc(100%/ 4);
    }
}