:root {
    --play-bar-h: 100px;
    --logo-h: 70px;
    --side-w: 180px;
    --w-100: 100%;
    --w-70: 70%;
    --w-50: 50%;
    --w-25: 25%;
    --w-20: 20%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    overflow: hidden;
    color: white;
    font-family: Montserrat, sans-serif;
}

.side-bar li {
    padding: 5px;
}

.side-bar li:hover {
    filter: brightness(200%);
}

.top-bar a:hover {
    filter: brightness(200%);
}

/* GENERICS */

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: white;
}

img {
    width: var(--w-100);
}

h2 {
    font-size: 1.5rem;
}

h4 {
    padding-top: 10px;
}

/* UTILS */

.pad-small {
    padding: 0px 10px;
}

.pad-bot10 {
    padding-bottom: 10px;
}

.pad-all {
    padding: 10px;
}

.d-flex {
    display: flex;
}

.w100 {
    width: var(--w-100);
}

.txt-center {
    text-align: center;
}

.flex-dir-clmn {
    flex-direction: column;
}

.b-radius50 {
    border-radius: 50%;
}

.c-black {
    color: black;
}

.c-grey {
    color: grey;
}

.c-white {
    color: white;
}

.pos-rel {
    position: relative;
}

/* ICONS */

.fa-plus {
    color: black;
    background-color: grey;
    font-size: 25px;
}

button {
    background-color: black;
    border: 1px solid white;
    border-radius: 30px;
}

button a {
    color: white;
    font-weight: 700;
    text-transform: uppercase;
    padding: 15px;
}

.upgrade-button {
    position: absolute;
    top: 20px;
    right: 25px;
    border-radius: 30px;
}

/* HEADER */

header {
    background-color: #080B12;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 70px;
    z-index: 1;
}

.sidebar-swap {
    width: 70px;
    background-color: black;
    position: absolute;
    top: 0;
    bottom: var(--play-bar-h);
    left: 0;
}

/* MAIN CONTAINER */

.main-container {
    display: flex;
    flex-wrap: wrap;
    height: 100%;

}

/* SIDEBAR CONTAINER */

.side-bar {
    width: var(--side-w);
    height: calc(100% - var(--play-bar-h));
    display: flex;
    flex-direction: column;
    background-color: black;
    z-index: 2;
    overflow-y: hidden;
}

/* SIDEBAR LOGO */

.logo {
    flex: 0 0 var(--logo-h);
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.logo img {
    width: 120px;
}

/* SIDEBAR LIBRARY */

.library {
    flex: 1 1 15%;
}

.library a {
    color: grey;
}

/* SIDEBAR PLAYLIST */

.playlist {
    flex: 1 1 80%;
    padding-left: 10px;
    overflow: auto;
}

.playlist ul li {
    font-size: 1rem;
    padding: 10px 5px;
    color: grey;
}

.playlist ul li a {
    color: grey;
}

/* SIDEBAR SWAP EFFECT WHEN XS RESOLUTION */

.playlist-top-swap {
    display: none;
    position: absolute;
    flex-direction: column;
    left: 15px;
    top: 20px;
}

.playlist-top-swap i {
    padding-bottom: 20px;
    color: white;
}

.playlist-bottom-swap {
    display: none;
    position: absolute;
    flex-direction: column;
    top: 85%;
    left: 20px;
}

.playlist-bottom-swap i {
    color: white;
    padding-bottom: 20px;
}

/* SIDEBAR ACCOUNT */

.account {
    flex: 1 1 5%;
}

/* CONTENUTO PRINCIPALE */

.main-content {
    flex: 1 0 calc(100% - var(--side-w));
    height: calc(100% - var(--play-bar-h));
    background-color: #141922;
    overflow-y: auto;
    padding-top: var(--logo-h);

}

/* TOP BAR */

.top-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 30px;

}

.top-bar-col {
    width: calc(100% / 3);
    padding: 10px;
}

.top-bar-col a {
    color: grey;
    font-weight: bold;
    font-size: 0.8rem;
}

/* GREEN BORDER HOVER EFFECT TOP BAR */

.green-border {
    display: none;
    position: absolute;
    background-color: green;
    height: 3px;
    width: 40%;
    left: 30px;
}

.top-bar-card:hover .green-border {
    display: block;
}

/* RECENTLY PLAYED MUSIC */

.recent-play {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}

.recent-col {
    width: var(--w-50);
}

.title-recent {
    margin-bottom: 30px;

}

/* HOVER RECENTLY PLAYED */

.hover-swap {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
}

.hover-swap i {
    font-size: 3rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

.recent-card:hover .hover-swap {
    display: block;
}

.recent-col:hover {
    transform: translateY(-20px) scale(1.1);
}

.recent-col {
    transition: transform 0.7s ease-in-out;
}

/* CREATED FOR */

.created-for-col {
    margin-top: 30px;
    width: var(--w-50)
}

.created-for-col:hover {
    transform: translateY(-20px) scale(1.1);
}

.created-for-col {
    transition: transform 0.7s ease-in-out;
}

/* CREATED FOR HOVER EFFECT */

.created-for-card:hover .hover-swap {
    display: block;
}

/* POPULAR SONGS */

.popular-artists {
    display: flex;
}

.popular-col {
    width: var(--w-50);
    margin-top: 30px;
}

/* POPULAR ARTISTS HOVER EFFECT */

.popular-card:hover .hover-swap {
    display: block;
    border-radius: 50%;
}

.popular-col:hover {
    transform: translateY(-20px) scale(1.1);
}

.popular-col {
    transition: transform 0.7s ease-in-out;
}

/* PLAY-BAR CONTAINER */

.play-bar {
    height: var(--play-bar-h);
    min-width: var(--w-100);
    display: flex;
    align-items: center;
    background-color: #282828;
    z-index: 1;
}

/* PLAY-BAR LEFT */

.song-name {
    flex-basis: var(--w-20);
    display: flex;
    align-items: center;
}

.play-bar img {
    width: 60px;
    height: 60px;
}

.icons-left-play-bar {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* PLAY-BAR CENTER */

.reproduction-bar {
    flex-basis: var(--w-70);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.reproduction-bar i {
    font-size: 2rem;
}

.reproduction-icons {
    display: flex;
    width: var(--w-70);
    justify-content: space-evenly;
    padding-bottom: 5px;
}

.reproduction-bar span {
    color: white;
}

.reproduction-time {
    padding-top: 20px;
    display: flex;
    width: var(--w-100);
    justify-content: center;
}

.time:hover .fa-circle {
    display: block;
}

.time {
    height: 10px;
    width: var(--w-50);
    background-color: grey;
    align-self: center;
    border-radius: 5px;
    background: linear-gradient(to right, white 25%, #5A5A5A 10%);
}

/* PLAY-BAR RIGHT */

.volume {
    display: flex;
    flex-basis: 30%;
    justify-content: space-between;
}

.fa-circle {
    display: none;
    position: absolute;
    left: 20%;
    bottom: -8px;
    color: grey;
}

.volume-bar:hover .fa-circle {
    display: block;
}

.volume-bar {
    border-radius: 5px;
    margin-right: 10px;
    height: 8px;
    width: var(--w-50);
    background: linear-gradient(to right, white 25%, #5A5A5A 10%);
    align-self: center;
}

.volume-icons {
    width: var(--w-100);
    justify-content: space-between;
}

.volume-icons i {
    padding: 5px;
}

/* SOME RANDOM HOVER EFFECTS FOR TRAINING */

.song-name .fa-folder:hover {
    color: rgb(133, 71, 21);
    transform: scale(1.5);
    transition: transform .5s linear;
}

.song-name img:hover {
    transform: scale(1.15);
    transition: .5s;
}

.song-name .fa-heart:hover {
    color: red;
    transform: scale(1.5);
    transition: transform .5s linear;
}

.volume-icons i:hover {
    transition: transform 0.5s;
    transform: scale(1.3);
}

.reproduction-icons i:hover {
    transform: scale(1.5);
    transition: transform .5s linear;
}

.reproduction-time:hover {
    transition: transform 0.5s;
    transform: scale(1.1);
}

/* INIZIO QUERY CHANGES */

/* MEDIA QUERY TABLET 992 px */


@media screen and (min-width: 992px) {

    .recent-col {
        width: var(--w-25);
    }

    .top-bar-col {
        width: calc(100% / 5);
    }

    .created-for-col {
        width: var(--w-25);
    }

    .popular-col {
        width: var(--w-25);
    }
    .green-border{
        left: 40px;
    }
}

/* MEDIA QUERY DESKTOP 1200 px */

@media screen and (min-width: 1200px) {

    .top-bar-col {
        width: calc(100%/ 6);
    }

    .recent-col {
        width: calc(100% / 6);
    }

    .created-for-col {
        width: var(--w-20);
    }

    .popular-col {
        width: var(--w-20);
    }
    
    .green-border{
        left: 50px;
    }
    .song-name i{
        display: block;
    }
}

/* MEDIA QUERY XS 576px */

@media screen and (max-width: 576px) {

    .top-bar-col {
        width: calc(100%/ 4);
    }

    .side-bar {
        width: 70px;
        position: relative;
    }

    .side-bar li {
        display: none;
    }

    .side-bar .logo {
        display: none;
    }

    .side-bar span {
        display: none;
    }

    .side-bar hr {
        display: none;
    }

    .play-bar .volume-bar {
        display: none
    }

    .play-bar img {
        display: none
    }

    .play-bar .reproduction-bar {
        transform: scale(0.8);
    }

    .play-bar .volume-icons {
        transform: scale(0.8);
    }

    .play-bar .song-name {
        flex-direction: row-reverse;
        transform: scale(0.8);
    }

    .playlist-top-swap {
        display: block;
    }

    .playlist-bottom-swap {
        display: block;
    }

    .top-bar-card a {
        font-size: 0.7rem;
    }

    .song-name i {
        padding-right: 30px;
    }
}